nav img {
	max-width: 100px;
	max-height: 100px;
}
.jumbotron {
	background-image: url('holiday1.png');
	background-size: cover;

	overflow: hidden;
	color: white;
}
.card {
	padding-left: none;
	padding-right: none;
}
.card-img-top {
	height: 175px;
}
.some {
	opacity: 0.9;
}
